@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --text: #171717;
  --font-sans: "Recursive";
}

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text);
  --color-text: var(--text);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #f0ece9;
  }
} */

@layer base {
  * {
    font-family: var(--font-sans);
  }
}