/* @import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&display=swap'); */
@import "tailwindcss";

:root {
  --btn-h-sm: 40px;
  --btn-h-md: 50px;
  --btn-h-lg: 60px;

  --cream: #f5eeee;
  --white: #ffffff;
  --red: #E5614F;
  --red-dark: #c53320;
  --red-dark2: rgb(147, 38, 23);
  --green-dark: #113415;
  --green-dark2: #1a441f;
  --green-default: #26622D;
  --green-light: #859E88;
  --green-light2: #bad1bd;

  --gray-100: #FDFBFB;
  --gray-200: #f4f2ef;
  --gray-200-50: #f4f2ef46;
  --gray-300: #e3ddd7;
  --gray-300-50: #d8ccc136;
  --gray-400: #d1c4be;
  --gray-500: #BFADA3;
  --gray-700: #837670;
  --gray-900: #584F49;

  --primary: var(--green);
  --text-default: var(--green-800);
  --text-light: var(--green-light);

  --font-sans: "Recursive";

 
  --toastify-container-width: fit-content;
  --toastify-toast-width: fit-content;
}

@theme {
  --color-green-300: var(--green-light2);
  --color-green-400: var(--green-light);
  --color-green-500: var(--green-default);
  --color-green-700: var(--green-dark2);
  --color-green-800: var(--green-dark);

  --color-white: var(--white);
  --color-cream: var(--gray-100);
  --color-red: var(--red-dark);
  --color-redOn: var(--red-dark2);

  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-700: var(--gray-700);
  --color-gray-900: var(--gray-900);


  --color-background: var(--color-cream);
  --color-section: var(--gray-200);
  --color-section-50: var(--gray-300-50);
  --color-text: var(--color-green-800);
  --color-text-light: var(--color-green-400);
  --color-light: var(--color-green-300);
  --color-primaryLight: var(--color-green-300);
  --color-primary: var(--color-green-500);
  --color-primaryOn: var(--color-green-700);

  --color-error: var(--color-red-800);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  * {
    font-family: var(--font-sans);
    box-sizing: border-box;
  }

  * :focus-visible {
    @apply outline-primary outline-2 -outline-offset-4;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE + Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
  }

  /* globals.css */
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinner {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}